/* ----- GENERAL ----- */

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

header > h1 {
    margin: 1rem 2rem;
}

.container {
    position: relative;
    min-height: 100vh;
}

main {
    display: block;
    overflow: auto;
    padding-bottom: 7rem;
}

h1, h2 {
    font-family: 'Cormorant Garamond', serif;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

footer {
    position: absolute;
    overflow: auto;
    bottom: 0;
    width: 100%;
}

footer ul {
    margin: 0.5rem 0.5rem 0 0.75rem;
}

footer ul li {
    margin-bottom: 0.25rem;
}

footer div {
    padding: 0.35rem;
    background-color: #eee;
    color: #777;
}

/* ----- INDEX ----- */

blockquote {
    display: inline-block;
    margin: auto;
    width: 66%;
    background-color: #eee;
    color: #484848;
    border-radius: 10px;
    padding: 10px;
}



/* ----- ABOUT ----- */

.about {
    display: block;
}

.about_info {
    display: inline-block;
    float: left;
    width: 30%;
    margin: 2%;
    border-radius: 10px;
}

.about_info_social {
    display: inline-block;
    height: 2rem;
    width: 100%;
    margin: 0.5rem 0.5rem 0 0.5rem;
    position: relative;
}

.about_info_social > a {
    display: inline-block;
    padding: auto;
}

.about_headshot {
    display: inline-block;
    float: left;
    width: 100%;
    border-radius: 10px;
}

.about_text {
    display: inline-block;
    float: right;
    width: 66%;
    padding-top: 2%;
}


/* ----- CONTACT ----- */



/* ----- BINGO ----- */

.bingo-ball {
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
    border-radius: 100%;
    border: black solid 5px;
    background-color: maroon;
}

.bingo-ball-info {
    margin: 98px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: black solid 5px;
    z-index: 366;
    background-color: silver;
}

.bingo-ball-letter {
    margin-top: 20px;
    font-size: 50px;
}

.bingo-ball-number {
    font-size: 100px
}

.popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

.flex-container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.bingo {
    margin-top: 1rem;
    display: block;
    text-align: center;
}

.col {
    text-align: center;
    padding: 5px 5px;
}

.first {
    margin-top: 20px;
    border-bottom: solid 1px black;
}

.btns {
    margin-top: 1rem;
    display: block;
    text-align: center;
}

.btn {
    display: inline-block;
    margin: auto;
}

.clicked {
    background-color: red;
}