.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.col {
    text-align: center;
    padding: 5px 5px;
}

.first {
    margin-top: 20px;
    border-bottom: solid 1px black;
}

.btns {
    display: block;
    text-align: center;
}

.btn {
    display: inline-block;
    margin: auto;
}

.clicked {
    background-color: red;
}